*{
    padding: 0 auto;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgb(58, 48, 48);
}
.main{
    background-color: black;
    width: 20rem;
    padding:30px;
    height: 35rem ;
    position: relative;
    top: 5.5rem;
    left: 33rem;
    border-radius: 1.8rem;
    border: 1px solid black
}
.top{
    background-color: antiquewhite;
}