html{
    font-size: 20px;
}

body{
    background-color: #7932ac;
}
main{
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(4 ,0.5fr);
    grid-template-rows: repeat(5,100px);
    grid-template-areas:"a a b b"
                        "a a d d"
                        "g g f f"
                        "e i i c"
                        "h h h h";
    gap: 15px;
}
section{
    background-color: #003e19;
}
    /* height: 50px; */
    /* margin-bottom: 10px;
    margin-bottom: 25px;
    margin-right: 2rem;
    margin-left: 2rem; */
    /* margin: 10px auto;
    width: 50%;
} */
section:first-of-type{
    grid-area: a;
    background-color: gold;
}
section:nth-of-type(2){
    grid-area: b;
    background-color: aquamarine;
}
section:nth-of-type(3){
    grid-area: c;
    background-color: aquamarine;
}
section:nth-of-type(4){
    grid-area: d;
    background-color: aquamarine;
}
section:nth-of-type(5){
    grid-area: e;
    background-color: aquamarine;
}
section:nth-of-type(6){
    grid-area: f;
    background-color: aquamarine;
}
section:nth-of-type(7){
    grid-area: g;
    background-color: aquamarine;
}
section:nth-of-type(8){
    grid-area: h;
    background-color: aquamarine;
}
section:last-of-type{
    grid-area: i;
    background-color: aquamarine;
}


